<head>
	<title>Todo List</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>


	<link href='http://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro:500' rel='stylesheet' type='text/css'>

	<header class="box effect1">
		<center>
			<div class="page-header">
				<h1>Todo List</h1>
				<h4>Cristian Robles</h4>
				<hr>
			</div>
		</center>
	</header>


	<section class="main">
		<a class="arrow-wrap" href="#content">
			<span class="arrow"></span>
			<!--<span class="hint">scroll</span>-->
		</a>

		<div class="content" id="content">
			<div class="container">
				{{> header}} {{> todos}} {{> form}}
			</div>
			<div class="space"></div>
			<div class="fixedbutton"></div>
		</div>

	</section>
</body>