.completed {
	text-decoration: line-through
}

.secondary-content a {
	margin: 0 0.5em;
}

.complete-task {
	color: #329332;
}

.incomplete-task {
	color: darkred;
}

i {
	cursor: pointer;
}

.center-button {
	text-align: center;
}

.input-field {
	margin: 0 auto;
	width: 75%;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background-image: url("https://images.unsplash.com/29/night-square.jpg?fit=crop&fm=jpg&h=675&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1375");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1.3em;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

section {
	float: left;
	width: 100%;
	background: #fff;
	position: relative;
	box-shadow: 0 0 5px 0px #333;
}


/* the important styles */

.arrow-wrap {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: -5em;
	margin-left: -5em;
	background: #111;
	width: 10em;
	height: 10em;
	padding: 4em 2em;
	border-radius: 50%;
	font-size: 0.5em;
	display: block;
	box-shadow: 0px 0px 5px 0px #333;
}

.arrow {
	float: left;
	position: relative;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 3em 3em 0 3em;
	border-color: #ffffff transparent transparent transparent;
	-webkit-transform: rotate(360deg)
}

.arrow:after {
	content: '';
	position: absolute;
	top: -3.2em;
	left: -3em;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 3em 3em 0 3em;
	border-color: #111 transparent transparent transparent;
	-webkit-transform: rotate(360deg)
}

.hint {
	position: absolute;
	top: 0.6em;
	width: 100%;
	left: 0;
	font-size: 2em;
	font-style: italic;
	text-align: center;
	color: #fff;
	opacity: 0;
}

.arrow-wrap:hover .hint {
	opacity: 1;
}

@-webkit-keyframes arrows {
	0% {
		top: 0;
	}
	10% {
		top: 12%;
	}
	20% {
		top: 0;
	}
	30% {
		top: 12%;
	}
	40% {
		top: -12%;
	}
	50% {
		top: 12%;
	}
	60% {
		top: 0;
	}
	70% {
		top: 12%;
	}
	80% {
		top: -12%;
	}
	90% {
		top: 12%;
	}
	100% {
		top: 0;
	}
}

.arrow-wrap .arrow {
	-webkit-animation: arrows 2.8s 0.4s;
	-webkit-animation-delay: 3s;
}


/*  this is the unimportant CSS used just to layout the content  */

.fixedbutton {
	position: fixed;
	bottom: 560px;
	right: 1000px;
}

header {
	float: left;
	width: 100%;
	padding: 2em 4em;
	color: #fff;
	height: calc(100% - 3em);
}

header p {
	margin: 0;
	color: antiquewhite;
	font-size: 10vm;
}

header h3 {
	margin: 0;
	color: antiquewhite;
}

.effect1 {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

header a {
	color: #56dcee;
	opacity: 0.5;
	text-decoration: none;
}

#todoh1 {
	color: cadetblue;
}

header a:hover {
	color: #333;
	opacity: 1;
}

.content {
	float: left;
	width: 70%;
	margin: 0 15%;
	padding: 2em 0;
}

h1 {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 300;
	font-size: 2.4em;
}

.space {
	height: 175px;
}

h2,
h3 {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	margin-top: 2em;
}

pre {
	background: #ededed;
	padding: 1em;
}

p {
	color: #555;
	font-size: 0.9em;
}

p a {
	color: #14b5d1;
	text-decoration: none;
}